
@import '../../root-style.scss';

.btn-1{
    background: $white;
    color: $warm-gray;
    border: 2px solid $pinkish-gray;
    border-right: 0px;
    border-radius: 10px;
    text-align: left;
    font-size: 14px;
}
.new-dropdown{
    .dropdown__control{
        background: $white;
        color: $warm-gray;
        border: 2px solid $pinkish-gray;
        border-radius: 10px;
        text-align: left;
        font-size: 14px;
    }
}
.btn-toggle-1{
    background: $white;
    color: $warm-gray;
    border: 2px solid $pinkish-gray;
    border-radius: 10px;
    border-left: none;
    font-size: 14px;
    background-color: transparent !important;
    border-color: $pinkish-gray !important;
    color: $pinkish-gray !important;
}
.info-icon {
    margin-left: 10px;
    margin-right: 10px;
}