@import '../../root-style.scss';

.outer-block{
    .info-icon{
        position: absolute;
        top: 60%;
        left: 90%;
    }
}

.range-wrap{
    margin-top: 20% !important;
}

// #outer-block{
//   margin-top: 10%;
//   margin-bottom: 10%;
// }
input[type=range]:focus {
    outline: none;
}
input[type=range] {
    display: block;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    outline: none;
}
  
input[type=range]::-webkit-slider-runnable-track {
    position: relative;
    height: 6px;
    border: 1px solid $lightgray;
    border-radius: 5px;
    background-color: $pale-gray;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 25px;
}
  
input[type=range]::-webkit-slider-thumb {
    position: relative;
    top: -4px;
    width: 12px;
    height: 12px;
    border: 1px solid $light-gray-blue;
    -webkit-appearance: none;
    background-color: $white;
    box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    cursor: pointer;
}
  
output {
    position: absolute;
    // top: 22%;
    // left: 71%;
    display: block;
    width: 50px;
    height: 30px;
    border: 1px solid $bg-gray;
    background-color: $bg-gray;
    border-radius: 3px;
    color: $black;
    font-size: .8em;
    line-height: 24px;
    text-align: center;
}
  
input[type=range]:active + output {
    display: block;
}

.range-value{
	position: absolute;
  //top: 60%;
  bottom: 700%
}

.range-value span{
	width: 30px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background:$skyblue;
	color: $white;
	font-size: 12px;
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 6px;
}
.range-value span:before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid $skyblue;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
}

