/*
* Main Css
*/
:root {
    --white: #ffffff;
    --black-4: rgba(0, 0, 0, 0.04);
    --pale-grey: #f0f0f7;
    --seafoam-blue: #52bfcf;
    --flat-blue: #3569a4;
    --dusk: #5c507e;
}
body{
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5{
    font-family: 'Roboto', sans-serif;
}
p, span, div, ul, li, small, a{
    font-family: 'Roboto', sans-serif;
}
.content {
    padding: 4vh 8vh 0;
}

/*
* sidebar and top panel
*/
aside.left-panel{
    width: 260px;    
}
.right-panel{
    margin-left: 260px;
    background-color: var(--pale-grey);
    min-height: 100vh;
}
.menutoggle{
    text-align: left;
}
.right-panel header.header{
    padding: 8px 30px 5px;
    height: 70px;
}
.right-panel{
    margin-top: 60px;
}
aside.left-panel{
    top: 60px;
}
.navbar-brand{
    margin-right: 0;
    margin-left: 10px;
}
body.open .navbar,
body.open .navbar .main-menu,
body.open .navbar .navbar-nav{
    width:100%;
}
.user-area .dropdown-toggle:before{
    display: none;
}
.user-area .dropdown-toggle span{
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;
    margin-left: 8px;
}
.top-right .user-area{
    border-left: 1px solid rgba(0, 0, 0, 0.04);
    padding: 0 0 0 15px;
    margin-left: 15px;
}
.header-left .dropdown .dropdown-toggle .count-notify{
    background: #ffc06a;
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
    height: 8px;
    width: 8px;
    line-height: 15px;
    left: 21px;
    top: 16px;
    position: absolute;
}
.navbar .menu-title{
    background-color: rgba(120, 130, 162, 0.06);
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 50px;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;
    font-family: 'Roboto', sans-serif;
}
.nav.navbar-nav a img{
    width: 18px;
    margin-right: 10px;
}
.navbar .navbar-nav li>a {
    font-size: 15px;
    padding: 10px 0;
}
.open aside.left-panel .navbar .navbar-nav li>a{
    text-align: center;
}
.open aside.left-panel .nav.navbar-nav a img{
    margin-right: 0;
}

/*
* page home
*/
.main_title {
    margin-bottom: 30px;
}
.main_title .col-12{
    justify-content: space-between;
    align-items: center;
}
.main_title h1{
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: left;
    color: #43425d;
}
.main_title .btn{
    border-radius: 10px;
    background-color: #41b3c4;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.28px;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    padding: 15px 40px;
}
.dsh_2{
    margin-top: 30px;
}

/*
* widget
*/
.widget_box .widget_title{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #616161;
}
.widget_box .card{
    height: 100%;
    margin-bottom: 0;
}
.widget_box .widget_cnt{
    margin-top: 15px;
    align-items: center;
}
.widget_box .widget_cnt h2{
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
}
.widget_box .widget_cnt p{
    font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #616161;
  margin: 5px 0 10px;
}
.widget_1 .widget_cnt h2{
    color: var(--seafoam-blue);
}
.widget_2 .widget_cnt h2{
    color: var(--flat-blue);
}
.widget_3 .widget_cnt h2{
    color: var(--dusk);
}
