.criteria-panel{
    font-weight: 500;
    background-color:#f2f2f2;
    height: 60px;
    border-bottom : 1px solid #e0e0e0;
}

.breakdownChartTable{
    text-transform: capitalize;
    background-color: white;
    cursor: pointer;
}
.criteria{
    background-color: white;
}

.header-style{
    // border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
}

.left-criteria-panel{
    font-weight: 500;
    border-bottom: 1px solid #c2c2c2;
}

.categories{
    text-align: center;
}

.col-1{
    word-break: break-all;
    border-right: 1px solid #c2c2c2;
}


.Collapsible{
    line-height: 2.5;
}

left-criteria-panel{
    font-weight: 500;
}

.head-top-padding{
    padding-top:10px;
    background-color: #f2f2f2;
    text-align: center;
}

.close-icon{
    color: #bd0707;
    padding-left: 5px;
}

.dateRange > p, b{
padding: 10px;
}

.dateRange{
    padding-top: 10px;
}

.breakdown-chart{
    background-color: white;
}